<navigation></navigation>
<div class="container">
	<page-header content="vm.pageHeader"></page-header>
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<p class="lead">Уже зарегистрированы? Пожалуйста <a href="/#login?page={{vm.returnPage}}">войдите</a></p>
			<form ng-submit="vm.onSubmit()">
				<div role="alert" ng-show="vm.formError" class="alert alert-danger">{{ vm.formError }}</div>
				<div class="form-group">
					<label for="name">Ваше имя</label>
					<input type="text" class="form-control" id="name" placeholder="Укажите ваше имя" ng-model="vm.credentials.name">
				</div>
				<div class="form-group">
					<label for="email">Ваша почта</label>
					<input type="email" class="form-control" id="email" placeholder="Укажите ваш email" ng-model="vm.credentials.email">
				</div>
				<div class="form-group">
					<label for="password">Ваш пароль</label>
					<input type="password" class="form-control" id="password" placeholder="Укажите пароль" ng-model="vm.credentials.password">
				</div>
				<button type="submit" class="btn btn-default">Регистрация</button>
			</form>
		</div>
	</div>
	<footer-generic></footer-generic>
</div>
