extends layout
block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      form#addReview.form-horizontal(action='', method='post', role='form')
        -if(error == "val")
          .alert.alert-danger(role='alert') Все поля обязательны, попробуйте ещё раз
        .form-group
          label.col-xs-10.col-sm-2.control-label(for='name') Имя
          .col-xs-12.col-sm-10
            input#name.form-control(name='name')
        .form-group
          label.col-xs-10.col-sm-2.control-label(for='rating') Оценка
          .col-xs-12.col-sm-2
            select#rating.form-control.input-sm(name='rating')
              option 5
              option 4
              option 3
              option 2
              option 1
        .form-group
          label.col-sm-2.control-label(for='review') Отзыв
          .col-sm-10
            textarea#review.form-control(name='review', rows='5')
        input.btn.btn-default.pull-right(type='submit', value='Добавить отзыв')
    .col-xs-12.col-md-4